*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.max-width{
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}
.text-center{
    text-align: center;
}

/* banner section styling */

.banner-section{
    
}